html{
    background-color: antiquewhite;
    margin:10%;
    margin-top: 1%;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    
}

div.header{
    width: 100%;
    margin-left: 25%;
    margin-top: 50px;
align-items: center;
}                    

h1{
   font-size: 75; 
   font-weight: 100;
   text-align: center;

}
#break {
        height: 2px; /* Adjust the thickness of the line */
        background-color: black; /* Set your desired color */
        border: none; /* Remove default border */
    }
    
    #bio{
        border: solid black;
        border-width: 2px;
        padding: 5px;
        text-align:center ;
        font-weight: 400;
    }
